.bold {
	color: #ff0000;
	font-weight: bold;
}

#colorGray {
	color: gray;
}

h2, h3 {
	color: blue;
	font-family: 'Roboto Slab', serif;
	font-style: italic;
}

ul li {
	color: red;
}

a:hover {
	color: blue;
}